---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Cobra's Magic Recipes">
  <main>
    <div id="content-container" class="flex justify-center items-center">
      <article id="about" class="m-4 w-[40rem] prose">
        <h1
          class="text-4xl font-bold font-merriweather capitalize leading-snug"
        >
          This is a website to house the recipes of Gothic King Cobra JFS
        </h1>
        <p>
          Cobra is a YouTube celebrity with a taste for the finer things in
          life: Mountain Dew, borritos, and of-age, alive, cis-gendered,
          consenting, non-related, and at least a 4 or above on the good looks
          scale, like if she's a 6 on a good day. Preferably someone that is 21
          and above.
        </p>
        <p>
          I'm just one dude trying to archive the arcane, culinary mastery that
          is Cobra's cooking. Not everyone's born knowing how to cook dank food,
          troll, so although you don't have to <a
            href="/contribute"
            class="text-green-500 font-bold">Submit A Recipe</a
          >, it's greatly appreciated.
        </p>
        <p>Praise Cobra's Magic!</p>
      </article>
    </div>
  </main>
</Layout>
