---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Submit A Recipe"
  description="Submit a recipe so other fans can enjoy Cobra's magic"
>
  <main>
    <div id="content-container" class="flex justify-center items-center">
      <article id="about" class="m-4 w-[40rem] prose">
        <h1 class="text-4xl font-bold font-merriweather capitalize text-center">
          Submit A Recipe
        </h1>
        <p>
          Submit recipes to <a
            href="mailto:kingcobrarecipes@gmail.com"
            class="text-green-500 break-all">kingcobrarecipes@gmail.com</a
          >. Preferably in MarkDown format but it is what it is.
        </p>
        <p>
          Be sure to include the ingredients, how to make it, a photo of the
          creation, and a link to the video.
        </p>
        <p>Trolls will be blocked from my channel.</p>
      </article>
    </div>
  </main>
</Layout>
