---
import Layout from "../layouts/Layout.astro";
import RecipeList from "../components/ui/RecipeList.astro";
const allRecipes = await Astro.glob("./recipes/*.md");
---

<Layout title="Cobra's Magic Recipes">
  <main>
    <div id="content-container" class="flex justify-center items-center">
      <article id="about" class="p-4 w-[40rem] prose">
        <h1 class="text-4xl font-bold text-center font-merriweather">
          Featured Recipes
        </h1>
        <ul>
          {
            allRecipes.map((recipe) => (
              <RecipeList url={recipe.url} title={recipe.frontmatter.title} />
            ))
          }
        </ul>
      </article>
    </div>
  </main>
</Layout>
